* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;        
}

a {
    outline: none;
    text-decoration: none;
    font-size: 20px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

nav {    
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6C7360;
}

img {
    height: 60px;
    width: 60px;
}

.centre {
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carremilieu {
    height: 500px;
    width: 800px;
    background-color: #EBE3D3;
    border-radius: 10px;
}

.carremilieudeux {
    height: 700px;
    width: 800px;
    background-color: #EBE3D3;
    border-radius: 10px;
}

.navgauche {
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.titre {
    margin-left: 20px;
    color: white;
}

.connx {
    margin-right: 20px;
}

.navdroite {
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.tapertache {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barretache {
    font-size: 25px;
    padding-left: 20px;
    height: 60px;
    width: 700px;
}

.bouton {
    height: 66px;
    font-size: 20px;
    width: 100px;
    background-color: #9B836B;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
}

.tache {
    /* height: 540px; */
    height: 20vh;
    width: 100%;
    text-align: center;
}

footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 80px;
    background-color: #6C7360;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.retv {
    margin-left: 20px;
    color: white;
    font-size: 20px;
}

.dark {
    margin-right: 20px;
}

.btn_vide {
    height: 440px;
    width: 100px;
    background-color: #EBE3D3;
    border-radius: 10px;
    border-style: none;
    color: whitesmoke;
}